{% extends "_base.html" %}
{% load static %}
{% load compress %}
{% block title %}
ผู้จัดทำ
{% endblock title %}
{% block content %}
<div class="w-1/5  mx-auto mt-5 mb-10 border border-black overflow-hidden bg-white rounded-lg  ">
  
      <img class="w-full" alt="" src="{% static 'manu/03/01.jpg' %}" >
  
    <div class="px-6 py-4">
      <h3 class="text-3xl font-light mb-2 font-mitr">พงศธร พิลาดี</h3>
      <p class="text-gray-600 font-saraban">รหัสนักศึกษา 66114640653 นักศึกษามหาวิทยาลัยอุบลราชธานี คณะวิทยาศาสตร์ สาขาเทคโนโลยีสารสนเทศและการสื่อสาร ว่างเป็นนอน เขียน code เจอแต่บัคเขียนคำว่าน่ารักเจอแต่เธอ</p>
    </div>
    <div class="px-6 py-4">
      <span class="inline-block px-2 py-1 font-semibold text-teal-900 bg-teal-200 rounded-full">python</span>
      <span class="inline-block px-2 py-1 font-semibold text-indigo-900 bg-indigo-200 rounded-full">html</span>
      <span class="inline-block px-2 py-1 font-semibold text-purple-900 bg-purple-200 rounded-full">css</span>
    </div>
    
</div>
{% endblock %}