{% extends "_base.html" %}
{% load static %}
{% load compress %}
{% block title %}
หน้าแรก
{% endblock title %}

{% block content %}
	<h1 class="text-center text-3xl underline mt-4 font-prompt ">อาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพตามวิถีภูมิปัญญาท้องถิ่นของจังหวัดอุบลราชธานี</h1>
	<div class="flex flex-wrap justify-center gap-8 mt-20">
        <div class="max-w-sm text-center">
			<img alt="" src="{% static 'manu/01/card-03.jpg' %}" class="h-36 w-36 rounded-full object-cover mx-auto" />
            <div class="px-4 py-4">
                <h3 class="text-3xl mb-2 font-mitr">หมี่กะทิ</h3>
                <p class="text-gray-700 text-base font-sarabun">
					รับประทานกับผักพื้นบ้านล้วนเป็นสมุนไพรจากธรรมชาติ เครื่องเคียงนานาชนิด อาทิ หัวปลี, ถั่วงอก, ใบกุยช่าย, ใบบัวบก, แตงกวา, ผักติ้ว, ใบชะพลู, ยอดมะม่วง, ใบชะมวง, ผักกาดหอม เป็นต้น มีคุณค่าทางสมุนไพรสูงมีใยอาหารสูง มีวิตามิน และเกลือแร่ที่สำคัญ อยู่ในส่วนประกอบของอาหารและในส่วนที่เป็นเครื่องเคียง อาหารพื้นเมือง อุดมด้วยพืชผักสมุนไพรมากมายหลายชนิด ซึ่งมีสรรพคุณทางยาจากสารพฤกษเคมี จึงมีคุณสมบัติในการรักษาสุขภาพให้เป็นปกติกับปรับปรุงสุขภาพให้ดีขึ้นและลดอัตราเสี่ยงต่อการเกิดโรค เช่น โรคไขมันในเลือดสูง โรคหัวใจและหลอดเลือด โรคความดันโลหิตสูง โรคเบาหวาน เป็นต้น
                </p>
                <div class="py-4">
                    <a href="01" class="bg-gray-500 hover:bg-blue-700 text-white py-2 px-4 font-sarabun">
                        เรียนรู้เพิ่มเติม >>
                    </a>
                </div>
            </div>
        </div>

        <div class="max-w-sm text-center">
            <img alt="" src="{% static 'manu/02/card-04.jpg' %}" class="h-36 w-36 rounded-full object-cover mx-auto" />
            <div class="px-4 py-4">
				<h3 class="text-3xl mb-2 font-mitr">หลนเค็มบักนัด</h3>
                <p class="text-gray-700 text-base font-sarabun">
					หลนเค็มบักนัด เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี มีความโดดเด่นและมีเอกลักษณ์เฉพาะของจังหวัดอุบลราชธานี เป็นภูมิปัญญาในการถนอมอาหารด้วยวิธี แปรรูป แบบดองเค็มเพื่อให้เก็บไว้ได้นานเป็นปี เป็นอาหารพื้นเมืองโบราณของจังหวัดอุบลราชธานีมาช้านานที่ได้สืบทอดกันมารุ่นต่อรุ่นใช้ส่วนผสมจากวัตถุดิบธรรมชาติที่มีในท้องถิ่นโดยใช้ส่วนผสมหลัก คือ เนื้อปลา ซึ่งปลาที่นำมาเป็นเค็มบักนัด ส่วนใหญ่จะเลือกใช้เนื้อปลาเทโพหรือปลาสวายติดหนัง นำมาหั่นเป็นชิ้นบางๆ เป็นปลาจากแม่น้ำมูลที่ได้จากผืนดินของจังหวัดอุบลราชธานี แล้วนำมาคลุกเคล้ากับเกลือ เป็น “ เกลือสินเธาว์                
				</p>
					<div class="py-4">
                    <a href="02" class="bg-gray-500 hover:bg-blue-700 text-white py-2 px-4 font-sarabun">
                        เรียนรู้เพิ่มเติม >>
                    </a>
                </div>
            </div>
        </div>	
		
		<div class="flex flex-wrap justify-center gap-8">
			<div class="max-w-sm text-center">
				<img alt="" src="{% static 'manu/03/card-09.jpg' %}" class="h-36 w-36 rounded-full object-cover mx-auto" />
				<div class="px-4 py-4">
					<h3 class="text-3xl mb-2 font-mitr">แกงอ่อมหอยขม</h3>
					<p class="text-gray-700 text-base font-sarabun">
						แกงอ่อมหอยขม เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี ที่ได้สืบทอดกันมารุ่นต่อรุ่น เป็นแกงอ่อมอาหารพื้นเมืองที่อุดมไปด้วยคุณค่าทางโภชนาการเพราะส่วนประกอบหลักส่วนใหญ่เป็นผักและสมุนไพรพื้นบ้านนานาชนิดเป็นความผสมผสานที่ลงตัวระหว่างชนิดของอาหาร และเครื่องปรุง มีเสน่ห์ของความเป็นไทย ต้นตำรับเมนูสมุนไพรโบราณที่มีมาช้านานของจังหวัดอุบลราชธานี โดยการนำหอยขมหรือหอยจุ๊บที่อยู่ในแหล่งน้ำตามธรรมชาติ มีคุณค่าทางโภชนาการเป็นแหล่งโปรตีน และคอลาเจน ที่มีประโยชน์ต่อร่างกาย 
					</p>
					<div class="py-4">
						<a href="03" class="bg-gray-500 hover:bg-blue-700 text-white py-2 px-4 font-sarabun">
							เรียนรู้เพิ่มเติม >>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock content %}
